body {
	font-family: 'Orbitron', sans-serif;;
}

h1 {
	color: white;
	text-align: center;
}

audio {
	display: none;
}

#title {
	background-color: black;
	width: 300px;	
	margin: 0 auto 10px auto;
	border: 10px solid #34495e;
	color: white;
	position: relative;
}

#gameboard {
	background-color: black;
	width: 80%;
	min-height: 330px;
	margin: 0 auto;
	padding: 20px;
	border: 10px solid #34495e;
	color: white;
	position: relative;
}

#maingame {
	width: 95%;
	background-color: black;
	margin: 0 auto;
}

#scoreboard {
	background-color: white;
	width: 400px;
	height: 50px;
	margin: 0 auto;
	padding: 5px;
	display: block;
	position: relative;
	color: #e67e22;
	border: 5px solid #34495e;
}

#scoreboard h3 {
	color: black;
	display: inline;
	line-height: 30px;
}

#leftboard {
	text-align: center;
	float: left;
	width: 200px;
}

#rightboard {
	text-align: center;
	float: right;
	width: 200px;
}


#rock {
	background-image: url("../images/rps.png");
	background-size: 300px 286px;
	height: 93px;
	width: 90px;
	border-radius: 100%;
	background-position: 490px -482px;
	margin: 0 10px;
}

#paper {
	background-image: url("../images/rps.png");
	background-size: 300px 286px;
	height: 93px;
	width: 90px;
	border-radius: 100%;
	background-position: 91px -20px;
	margin: 0 10px;
}

#scissors {
	background-image: url("../images/rps.png");
	background-size: 300px 286px;
	height: 93px;
	width: 89px;
	border-radius: 100%;
	background-position: -6px -20px;
	margin: 0 10px;
}

#rockComputer {
	display: none;
	background-image: url("../images/rps.png");
	background-size: 300px 286px;
	height: 93px;
	width: 90px;
	border-radius: 100%;
	background-position: 490px -482px;
	margin: 0 10px;
}

#paperComputer {
	display: none;
	background-image: url("../images/rps.png");
	background-size: 300px 286px;
	height: 93px;
	width: 90px;
	border-radius: 100%;
	background-position: 91px -20px;
	margin: 0 10px;
}

#scissorsComputer {
	display: none;
	background-image: url("../images/rps.png");
	background-size: 300px 286px;
	height: 93px;
	width: 89px;
	border-radius: 100%;
	background-position: -6px -20px;
	margin: 0 10px;
}
#yourChoice {
	padding: 10px;
	font-size: 18px;
}

#compAnswer {
	display: hidden;
	color: #e67e22;
	font-size: 28px;
	position: relative;
}

#choices {
	width: 120px;
	margin: 0 auto;
}

#left {
	float: left;
	margin-left: 2%;
	width: 40%;
	position: relative;
	margin-bottom: 20px;
}

#left h2 {
	text-align: center;
	color: white;
}

#right {
	float: right;
	margin-right: 2%;
	width: 40%;
	position: relative;
	margin-bottom: 20px;
}

#right h2 {
	text-align: center;
	color: red;
	
}

#result {
	margin: 80px 10px 0 10px;
	width: 380px;
	height: 60px;
	clear: both;
	display: block;
	margin: 0 auto;
	background-color: #ecf0f1;
	border-radius: 30px;
	padding: 5px 2px;
	position: relative;
}

#result h2 {
	text-align: left;
	color: black;
	margin-left: 10px;
}

#finalanswer {
	color: red;
	font-weight: bold;
}